<form #form (submit)="onSubmit(form.checkValidity())">
  <h2>Login</h2>
  <!-- Les submit de formulaire sont sur le form PAS sur le bouton -->
  <label for="email">
    Email
    <input
      #emailInput
      type="email"
      name="email"
      required
      [(ngModel)]="credentials.email"
    />
    <app-error-message [displayed]="!emailInput.checkValidity()">
      invalid_email
    </app-error-message>
  </label>

  <label for="password">
    Password
    <input
      #pwdInput
      type="password"
      name="password"
      required
      minlength="5"
      [(ngModel)]="credentials.password"
    />
    <app-error-message [displayed]="!pwdInput.checkValidity()">
      invalid_password
    </app-error-message>
  </label>

  <input
    [(ngModel)]="authService.useLocal"
    type="checkbox"
    id="remember"
    name="remember"
  />
  <label for="remember">Remember Me</label>
  <br />
  <button [disabled]="!form.checkValidity()">Connect</button>
  <!-- disabled un élément est juste informatif mais pas du tout bloquant -->
</form>
